node.exe : Loaded Prisma config from prisma.config.ts.
No C:\Users\Luiz Henrique\AppData\Roaming\npm\npx.ps1:24 caractere:5
+     & "node$exe"  "$basedir/node_modules/npm/bin/npx-cli.js" $args
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Loaded Prisma c...isma.config.ts.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Pasta" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "cor" TEXT NOT NULL DEFAULT '#a855f7',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Pasta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Look" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "estilo" TEXT NOT NULL,
    "ocasiao" TEXT NOT NULL,
    "genero" TEXT,
    "precoEstimado" DOUBLE PRECISION NOT NULL,
    "orcamento" DOUBLE PRECISION NOT NULL,
    "explicacao" TEXT NOT NULL,
    "cores" TEXT NOT NULL,
    "outfitJson" TEXT NOT NULL,
    "pastaId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Look_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Peca" (
    "id" TEXT NOT NULL,
    "lookId" TEXT NOT NULL,
    "categoria" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "cor" TEXT NOT NULL,
    "preco" DOUBLE PRECISION NOT NULL,
    "tecido" TEXT,
    "corte" TEXT,
    "detalhes" TEXT,
    "lojas" TEXT,

    CONSTRAINT "Peca_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PecaDesign" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "estilo" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "tecido" TEXT NOT NULL,
    "corte" TEXT NOT NULL,
    "textura" TEXT NOT NULL,
    "elementosVisuais" TEXT NOT NULL,
    "promptImagem" TEXT NOT NULL,
    "sugestaoUso" TEXT NOT NULL,
    "cores" TEXT NOT NULL,
    "inspiracao" TEXT,
    "pastaId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PecaDesign_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "Look" ADD CONSTRAINT "Look_pastaId_fkey" FOREIGN KEY ("pastaId") REFERENCES "Pasta"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Peca" ADD CONSTRAINT "Peca_lookId_fkey" FOREIGN KEY ("lookId") REFERENCES "Look"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PecaDesign" ADD CONSTRAINT "PecaDesign_pastaId_fkey" FOREIGN KEY ("pastaId") REFERENCES "Pasta"("id") ON DELETE SET NULL ON UPDATE CASCADE;

